sanemacs.el
custom.el
package-quickstart.el
tree-sitter/
elpa/
site-lisp/
auto-save-list/
transient/
url/
.lsp-session-v1
projectile-bookmarks.eld
projectile-frecency.eld
projects
recentf
history
desktop
.emacs.desktop.lock
*.elc
*~
